@page "/alquileres"
@rendermode InteractiveServer
@inject NavigationManager _navigator
@inject IRepositoryAlquileres _repositorio

<h3>Listado de alquileres de CycleHive</h3>
<a class="btn btn-success" href="/alquileres/nuevo">Agregar alquiler</a>
@if (_alquileres == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_alquileres.Count == 0)
{
    <div class="alert alert-warning mt-3" role="alert">
        No hay alquileres registrados
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Bicicleta</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Precio Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alquiler in _alquileres)
            {
                <tr>
                    <td>@alquiler.Cliente.Nombre</td>
                    <td>@alquiler.Bicicleta.Marca @alquiler.Bicicleta.Modelo</td>
                    <td>@alquiler.FechaInicio.ToShortDateString()</td>
                    <td>@alquiler.FechaFin.ToShortDateString()</td>
                    <td>@alquiler.PrecioTotal.ToString("C")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditAlquiler(alquiler.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                        <button class="btn btn-danger" @onclick="() => DeleteAlquiler(alquiler)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Alquiler>? _alquileres;
    private Alquiler? _alquiler;
    private List<Bicicleta>? _bicicletas;
    private List<Cliente>? _clientes;
    private string _mensaje = "Nuevo";

    protected override async Task OnInitializedAsync()
    {
        _alquileres = await _repositorio.GetAll();
        _clientes = await _repositorio.GetClientes();
        _bicicletas = await _repositorio.GetBicicletas();
    }

    private void EditAlquiler(int alquilerId)
    {
        _navigator.NavigateTo($"/alquileres/editar/{alquilerId}");
    }

    private async void DeleteAlquiler(Alquiler alquiler)
    {
        await _repositorio.Delete(alquiler.Id);
        _alquileres!.Remove(alquiler);
        StateHasChanged();
    }
}