@page "/bicicletas"
@rendermode InteractiveServer
@inject NavigationManager _navigator
@inject IRepositoryBicicletas _repositorio

<h3>Listado de bicicletas CycleHive</h3>
<a class="btn btn-success" href="/bicicletas/nuevo">Agregar bicicleta</a>
@if (_bicicletas == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_bicicletas.Count == 0)
{
    <div class="alert alert-warning mt-3" role="alert">
        No hay bicicletas registradas
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bicicleta in _bicicletas)
            {
                <tr>
                    <td>@bicicleta.Marca</td>
                    <td>@bicicleta.Modelo</td>
                    <td>@bicicleta.Color</td>
                    <td>@bicicleta.Tamaño</td>
                    <td>@bicicleta.Tipo</td>
                    <td>@bicicleta.Precio</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditBicicleta(bicicleta.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                        <button class="btn btn-danger" @onclick="() => DeleteBicicleta(bicicleta)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Bicicleta>? _bicicletas;

    protected override async Task OnInitializedAsync()
    {
        _bicicletas = await _repositorio.GetAll();
    }

    private void EditBicicleta(int bicicletaId)
    {
        _navigator.NavigateTo($"/bicicletas/editar/{bicicletaId}");
    }

    private async void DeleteBicicleta(Bicicleta bicicleta)
    {
        await _repositorio.Delete(bicicleta.Id);
        _bicicletas!.Remove(bicicleta);
        StateHasChanged();
    }
}